@import url("https://fonts.googleapis.com/css?family=Raleway:300,400");
@import url("https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300&display=swap');

@font-face{
    font-family: "Rossetti W00 Regular";
    src: url("fonts/Rossetti W00 Regular.woff") format(woff),
        url("fonts/Rossetti W00 Regular.woff2") format(woff2);
    font-weight: normal;
    font-style: normal;
}

*{
    box-sizing: border-box;
    font-family: Raleway;
    color: rgb(224, 224, 224);
}

html, body{
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to bottom right, #000000, rgb(182, 182, 182));
}

.nav ul{
    margin: 0;
}

.nav li{
    display: inline;
}

.nav a{
    display: inline-block;
    padding: .5em;
    color: white;
    text-decoration: none;
}

.main-nav{
    text-align: center;
    font-size: 1.1em;
    font-weight: lighter;
    border-bottom: 1px solid rgb(100, 100, 100);
}

.main-nav li{
    padding: 0 5%;
}

.nav a:hover{
    background-color: rgba(255, 255, 255, .3);
}

.header-logo{
    width: 40%;
    max-width: 390px;
}

.main-header{
    background-color: rgba(0, 0, 0, .5);
    background-blend-mode: multiply;
    background-size: cover;
    padding-bottom: 50px;
}

.title-name{
    text-align: center;
    margin: 0;
    font-size: 2em;
    font-family: "Rossetti W00 Regular";
    font-family: "Kalam";
    font-weight: normal;
    color: white;
}

.content-section{
    margin: 1em;
}

.container{
    max-width: 900px;
    margin: 0 auto;
    padding: 0 1.5em;
}

.section-header{
    font-family: "Metal Mania";
    font-weight: normal;
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 2.5em;
}/**//**//**//**//**/

.table{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.individual-website{
    background-color: green;
}

.individual-website:hover{
    font-size: 1.1em;
}

.main-footer{
    color: white;
    padding: .10em 0;
    bottom: 0;
    width: 100%;
}

.each-cat{
    display: flex;
    flex-direction: row;
}

.main-footer-container{
    display: flex;
    align-items: center;
}

.main-footer-container ul{
    flex-grow: 1;
    text-align: end;
}

.footer-nav li{
    padding: 0 .5em;
}

.footer-nav img{
    width: 50px;
    height: 50px;
}
