@import url("https://fonts.googleapis.com/css?family=Raleway:300,400");
@import url("https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300&display=swap');

@font-face{
    font-family: "Rossetti W00 Regular";
    src: url("fonts/Rossetti W00 Regular.woff") format(woff),
        url("fonts/Rossetti W00 Regular.woff2") format(woff2);
    font-weight: normal;
    font-style: normal;
}

*{
    box-sizing: border-box;
    font-family: Raleway;
    color: rgb(224, 224, 224);
}

html, body{
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to bottom right, #000000, rgb(182, 182, 182));
}

.nav ul{
    margin: 0;
}

.nav li{
    display: inline;
}

.nav a{
    display: inline-block;
    padding: .5em;
    color: white;
    text-decoration: none;
}

.main-nav{
    text-align: center;
    font-size: 1.1em;
    font-weight: lighter;
    border-bottom: 1px solid rgb(100, 100, 100);
}

.main-nav li{
    padding: 0 5%;
}

.nav a:hover{
    background-color: rgba(255, 255, 255, .3);
}

.header-logo{
    width: 40%;
    max-width: 390px;
}

.main-header{
    background-color: rgba(0, 0, 0, .5);
    background-image: url("images/love.png");
    background-blend-mode: multiply;
    background-size: cover;
    padding-bottom: 50px;
}

.band-name{
    text-align: center;
    margin: 0;
    font-size: 4em;
    font-family: "Rossetti W00 Regular";
    font-family: "Kalam";
    font-weight: normal;
    color: white;
}

.band-name-large{
    font-size: 5em;
}

.content-section{
    margin: 1em;
}

.container{
    max-width: 900px;
    margin: 0 auto;
    padding: 0 1.5em;
}

.section-header{
    font-family: "Metal Mania";
    font-weight: normal;
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 2.5em;
}/**//**//**//**//**//**//**//**/

.main-footer{
    color: white;
    padding: .10em 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.main-footer-container{
    display: flex;
    align-items: center;
}

.main-footer-container ul{
    flex-grow: 1;
    text-align: end;
}

.footer-nav li{
    padding: 0 .5em;
}

.footer-nav img{
    width: 50px;
    height: 50px;
}

.tour-row{/**/
    border-bottom: 1px solid black;
    padding-bottom: 1em;
    margin: 1em;
}

.tour-row:last-child{/**/
    border-bottom: none;
}

.tour-item{/**/
    display: inline-block;
    padding-right: .5em;
}

.tour-date{/**/
    color: rgb(207, 206, 206);
    font-weight: bold;
    width: 11%;
}

.tour-city{/**/
    width: 24%;
}

.tour-arena{/**/
    width: 42%;
}

.btn{/**/
    width: 10%;
    max-width: 100px;
    font-weight: bold;
    text-align: center;
    
    vertical-align: middle;
    border: none;
    border-radius: .3em;

    cursor: pointer;
    
    color: rgb(255, 255, 255);
    background-color: #000000;
}
.btn:hover{
    background-color: #ff8f8f;
}